@model List<ResultLast6BookingsDto>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Customers</th>
                                    <th>CheckIn</th>
                                    <th>CheckOut</th>
                                    <th>Status</th>
                                    <th>Mail Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.CheckIn.ToShortDateString()</td>
                                        <td>@item.CheckOut.ToShortDateString()</td>
                                        @if (item.Status == "Approved.")
                                        {
                                            <td><span class="fa fa-circle-o text-success px-2"> @item.Status</span></td>
                                        }
                                        else if (item.Status == "Canceled.")
                                        {
                                            <td><span class="fa fa-circle-o text-danger px-2"> @item.Status</span></td>
                                        }
                                        else if (item.Status == "Waiting for Approval.")
                                        {
                                            <td><span class="fa fa-circle-o text-info px-2"> @item.Status</span></td>
                                        }
                                        else if (item.Status == "Holding.")
                                        {
                                            <td><span class="fa fa-circle-o text-warning px-2"> @item.Status</span></td>
                                        }
                                        <td>@item.Mail</td>
                                    </tr>
                                }                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>